.container{
    display:flex;
    gap:20px;
    min-height:80%;
    margin-top:20px
}
.filter{
    min-width: 30%;
    min-height:80%;
    
}
.details{
    min-width: 70%;
    min-height:80%;
    
}
.template{
    display:flex;
    justify-content:space-around;
    font-weight:500;
}
.flats{
    display:flex;
    justify-content:space-around;
    margin-top:20px;
    width:100%;
    min-height:150px;
   
}
.flats_detail{
   padding-top: 50px;
    text-align:center;
}
img{
    width: 150px;
    height:150px;
   
  
}
.imagediv{
    width:60%;
    height:60%;
    border:1px solid red
}
.resident_detail{
    width:40%;
    height:100%;
    border:1px solid red
}